/* Common Styles  */

*{
    max-width: 1440 px;
    margin: 0;
}

/* Navbar Styles */

header{
    background-image: url(Assets/Hero-bg.png);
    background-size:100%;        
    background-position: center;   
    background-repeat: no-repeat;  
    width: 100%;
    padding-top: 71px;
}
nav{
    display: flex;
    justify-content:center;
    gap:995px; 
    align-items: center;
}

nav h2{
    font-family: "Inter", sans-serif;
    font-size: 34px;
    font-weight:800;
    font-style: normal;
}

nav h2{
    color: #4E47FF;
}

nav button {
    padding: 12px 36px;
    background-color: #4E47FF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 800;
    border-radius: 10px;
    border: 5px solid #4E47FF;
    }

.banner{
    display: flex;
    justify-content:space-around;
}

.banner01{
    max-width: 905px;
    text-align: center;
    margin: 158px 0px;
}

.banner h1{
    font-family: "Raleway", sans-serif;
    font-size: 65px;
    font-weight:bolder;
    font-style: normal;
}

.banner button{
    padding: 12px 36px;
    background-color: #4E47FF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 800;
    border-radius: 10px;
    border: 5px solid #4E47FF;
    margin-top: 37px;
}

button:hover{
    background-color: #F5F8FF;
    color: #4E47FF;
}

/* Main Styles */

main{
    background-color: #F5F8FF;
}

/* Action Section Styles */

.action{
    display: flex;
    justify-content:space-around;
    padding: 222px 0px 0px 0px;
    align-items: center;
}

.action div{
    max-width: 517px;
}

.action h4{
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight:600px;
}

.action p{
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight:200;
    font-style: normal;
}

.action p{
    color: #252432;
    margin: 23px 0px;
}

.action button{
    padding: 12px 36px;
    background-color: #4E47FF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 800;
    border-radius: 10px;
    border: 5px solid #4E47FF;
}

button:hover{
    background-color: #F5F8FF;
    color: #4E47FF;
}

.action img {
    border-radius: 48px;

}

/* Numbers Section Styles */

.Numbers{
    background-color: hsl(243, 100%, 93%);
    padding: 50px 142px;
    margin: 116px 159px;
    border-radius: 24px;
}
.numbers{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.numbers01{
    display: flex;
    justify-content:space-between;
    gap:150px;
    margin-top: 40px;
}

.numbers02{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.numbers h3{
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: bold;
}

.numbers02 h1{
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-weight:bolder;
    color: #4E47FF;
}

.numbers02 h6{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight:300;
    color: #252432;
}

/* Reviews Section Styles */

.reviews{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.reviews01{
    display: flex;
    justify-content:space-between;
    gap:20px;
    margin-top: 40px;
}

.reviews02{
    max-width: 366px;
    max-height: 243px;
    background-color: #FFFFFF;
    border-radius: 14px;
}

.reviews03{
    display: flex;
    justify-content:left;
    align-items: center;

}

.reviews03 img{
    margin: 24px 12px 24px 24px;
    border-radius: 9999px;
}

.reviews_star{
    margin: 24px;
}

.reviews h3{
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: bold;
}

.reviews02 h4{
    font-size: 24px;
    font-weight: bold;
    margin: 0px 24px;
}

.reviews02 p{
    font-size: 16px;
    margin: 8px 24px;
}


/* Retarget Section Styles */

.retarget{
    padding: 71px 150px;
    background-color: #FFFFFF;
    margin: 137px 151px;
}
.retarget01{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.retarget02{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.retarget02 h2{
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.retarget02 p{
    font-size: 16px;
    margin: 20px 0px;
    color: #252432;
}

.retarget02 button{
    padding: 12px 36px;
    background-color: #4E47FF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 800;
    border-radius: 10px;
    border: 5px solid #4E47FF;
}

button:hover{
    background-color: #F5F8FF;
    color: #4E47FF;
}

.retarget01 img{
    border-radius: 48px;
    margin: 20px 0px;
}


/* Contact Section Styles */


/* Footer Styles */

.footer_div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer h1{
     font-family: "Inter", sans-serif;
     font-size: 100px;
     font-weight:bolder;
}

.footer_div ul{
    display: inline;
    list-style: none;
    text-decoration: none;
}