/* Common Styles  */

*{
    margin: 0;
    padding: 0;
    max-width: 1440 px;
}

/* Navbar Styles */


/* Action Section Styles */


/* Numbers Section Styles */


/* Reviews Section Styles */


/* Retarget Section Styles */


/* Contact Section Styles */


/* Footer Styles */
